@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The James St. Bakery was found in 2012 in Seattle, WA with the intention of bringing the finest quality baked goods to
    the Emerald City. We put our customers first, and only use organic, vegan ingredients in our baked goods. 
</p>
