@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>James St. Bakery</h1>
    <p class="lead">A True Seattle Baked Goods Store</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Store</h2>
        <p>
            We are a Seattle-based bakery that prides itself on quality of our home-made pastries, breads, and other baked-goods.
        </p>
     
    </div>
    <div class="col-md-4">
        <h2>Our Goods</h2>
        <p>Feel free to check out our menu, and place an order!</p>
       
    </div>
   
</div>
